<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TTT </title>
    <link rel="stylesheet" href="../static/css/headerfooter.css">
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<body>
    <%- include('header.ejs') %>
    
    <div class="middle-section">
        <p> Adversaire : Ploufy</p>
        <div class="board">

        </div>
    </div>

    <%- include('footer.ejs'); %>

    <script src="../static/js/game.js"></script>
</body>
</html>