<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TTT </title>
    <link rel="stylesheet" href="../static/css/headerfooter.css">
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<body>
    <header>
        <p class="username"> Fabibite </p>
        <a class="websitename" href="index.html"> Tic Tac Toe </a>
        <a class="icon" href="login.html"></a>
        <!-- <a> Log out </a> -->
    </header>
    
    <div class="middle-section">
        <p> Adversaire : Ploufy</p>
        <div class="board">

        </div>
    </div>

    <footer>
        <p> By Fabio & Roméo </p>
    </footer>

    <script src="../static/js/game.js"></script>
</body>
</html>