<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TTT </title>
    <link rel="stylesheet" href="../static/css/headerfooter.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <%- include('header.ejs'); %>
    
    <div class="middle-section">
        <p> Searching for an opponent </p>
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <%- include('footer.ejs'); %>

    <script>
        const socket = new WebSocket('ws://localhost:8080'); // Adjust the URL as needed

        socket.addEventListener('open', () => {
            // Notify server that this client is ready
            socket.send(JSON.stringify({ type: 'join', id: '<%= user.player_id %>' }));
        });

        socket.addEventListener('message', (event) => {
            const data = JSON.parse(event.data);

            if (data.type === 'start-game') {
                // Redirect both players to the game page with a unique game ID
                window.location.href = `/game`;
            }
        });
    </script>
</body>
</html>