<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TTT </title>
    <link rel="stylesheet" href="../static/css/headerfooter.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <%- include('header.ejs'); %>
    
    <div class="middle-section">
        <form action="/login" method="POST">
            <h2>Login</h2>

            <% if (error) { %>
                <div class="error"> Wrong identifiers </div>
            <% } %>

            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            
            <button type="submit">Login</button>
            <p>Don't have an account ? <a href="/register">Register here</a></p>
        </form>
    </div>

    <%- include('footer.ejs'); %>
</body>
</html>