<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TTT </title>
    <link rel="stylesheet" href="../static/css/headerfooter.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <%- include('header.ejs') %>
    
    <div class="middle-section">
        <form action="/register" method="POST">
            <h2>Register</h2>
            <% if (error) { %>
                <div class="error"> Unavailable username </div>
            <% } %>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            
            <button type="submit">Login</button>
            <p>Already have an account ? <a href="/login">Login here</a></p>
        </form>
    </div>

    <%- include('footer.ejs') %>
</body>
</html>